<footer id='footer'>

    <p>Skontaktuj się z nami!</p>

        <i class="fas fa-phone-alt"></i>

    <div class='numbers'>
        <h2>602 185 393</h2>
        <div class="line-vertical"></div>
        <h2>602 185 391</h2>
    </div>

    <a class='contact-info' href="/kontakt">Pełne dane kontaktowe</a>

    <h1 class='footer__text'>Wszystkie prawa zastrzeżone. 2021 © Copyright by <span class="blue">sekocin.pl</span></h1>
    <div class="footer__background">
        <h1 class='footer__text'>Naszym partnerem biznesowym jest TIP - <a target="_blank" href='http://internett.pl/'>internett.pl.</a></h1>
    </div>
</footer>