<nav>
        <div class="nav-container">
            <input type="checkbox" name="" id="check">
            
            <div class="logo-container">
                {{!-- <h3 class="logo">Brand<span>Name</span></h3> --}}
                <img class="logo" src="/images/logo.png" alt="logo">
            </div>

            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <li class="nav-link order-1" style="--i: .6s">
                            <a href="/"><span class="nav-orange"><b>Strona&nbsp;Główna</b></span></a>
                        </li>

                        <li class="nav-link order-2" data-dropdown style="--i: .6s">
                            <a href="#"><b>O&nbsp;nas</b><i class="fas fa-caret-down order-3"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="/o-nas">O firmie</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="/internet-swiatlowodowy">Technologia światłowodowa</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-link order-3" data-dropdown style="--i: .6s">
                            <a href="#"><b>Internet</b><i class="fas fa-caret-down "></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="/internet/zasieg-internet">Zasięg</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="/internet/oferta-radiowa"><span class="nav-green">Oferta radiowa</span></a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="/internet/oferta-swiatlowodowa"><span class="nav-yellow">Oferta światłowodowa</span></a>
                                    <li class="dropdown-link">
                                        <a href="/internet/oferta-dla-firm">Oferta dla firm</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="/internet/nasze-lacze-internetowe">Nasze łącze</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="/internet/test-szybkosci-lacza">Test prędkości</a>
                                    </li>

                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link order-1" style="--i: .6s">
                            <a href="/praca"><span><b>Praca</b></span></a>
                        </li>

                        <li class="nav-link order-4" style="--i: .6s">
                            <a href="/telewizja"><span class="nav-blue"><b>Telewizja</b></span></a>
                        </li>
                        <li class="nav-link order-5" style="--i: .6s">
                            <a href="/#promotion"><b>Promocje</b></a>
                        </li>
                        <li class="nav-link order-6" style="--i: .6s">
                            <a href="/kontakt"><b>Kontakt</b></a>
                        </li>
                        <li class="nav-link order-7" style="--i: .6s">
                            <a href="/telefon"><b>Telefon</b></a>
                        </li>
                        <li class="nav-link order-8" style="--i: .6s">
                            <a href="/panel-klienta"><b>Panel Klienta</b></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
    </nav>
 


   