<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt światłowodowy</title>
    {{>links}}
    <link rel="stylesheet" href="/css/internet-swiatlowodowy.css">
</head>
<body>
    <div class="container">
        {{>navigation}}

        <section class="header">
            <div class="header__title">
                <h1>Technologia światłowodowa</h1>
                <div class="header__text">
                    <p><a href="/documents/oswiadczenie.docx" download="Oświadczenie" target="_blank"><b>Link do wzoru zgody na przyłacze</b></a>.</p> 
                </div>
            </div>

            <div class="main-advantages">
                <div class="main-advantages__title">
                    <h2>Główne zalety:</h2>
                </div>
                <div class="main-advantages__text">
                    <p><span><i class="fas fa-check-circle"></i></span>Odporność na warunki atmosferyczne</p>
                    <p><span><i class="fas fa-check-circle"></i></span>Bardzo niskie opóźnienia rzędu 0,16ms</p>
                    <p><span><i class="fas fa-check-circle"></i></span>Wysoka prędkość transmisji danych do 1Gb</p>
                    <p><span><i class="fas fa-check-circle"></i></span>Wysoka odporność na zakłócenia niezależna od ilości abonentów czy pogody</p>
                    <p><span><i class="fas fa-check-circle"></i></span>Możliwość rozbudowy o dodatkowe usługi np: telewizja</p>
                    <p><span><i class="fas fa-check-circle"></i></span>Bezawaryjność - nie wymaga dodatkowych urządzeń aktywnych (połączenie bezpośrednio z serwerowni operatora do urządzenia u klienta)</p>
                </div>
                <div class="main-advantages__endline">
                    <p>Wszystkich zainteresowanych znajdujących się w wyżej wymienionych miejscowościach prosimy o <a href="/kontakt" target="_blank"><b>kontakt</b></a>.</p>
                </div>
            </div>

        </section>

        {{>footer}}
    </div>
    <script src="/js/navbarHandle.js"></script>
</body>
</html>










