<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
    {{>links}}
    <link rel="stylesheet" href="/css/kontakt.css">

</head>
<body>

    <div class="container">
        {{>navigation}}
            <section class='header'>
                <div class='header__text'>
                    <h1>Martel Marta Bienia</h1>
                </div>
                <div class="info-holder">

                    <div class="info-contact">
                        <div class="info-contact__img">
                            <img src="/images/icon-120.png" class="icon" alt="adres">
                        </div>
                        <div class="info-contact__text">
                            <p>ul. Sadowa 33C</p>
                            <p>05-830 Walendów</p>
                            <p>NIP: 522-260-04-47, REGON: 140856623</p>
                        </div>
                     </div>

                      <div class="info-contact">
                        <div class="info-contact__img">
                            <img src="/images/icon-121.png" class="icon" alt="numer-telefonu">
                        </div>
                        <div class="info-contact__text">
                            <p>Telefon: +48 602 185 393</p>
                            <p>E-mail: internet@sekocin.net</p>
                        </div>
                     </div>

                      <div class="info-contact">
                        <div class="info-contact__img">
                            <img src="/images/icon-122.png" class="icon" alt="numer-konta">
                        </div>
                        <div class="info-contact__text">
                            <p>Numer konta: (BRE BANK SA )</p>
                            <p>98 1140 2004 0000 3802 4548 1733</p>
                        </div>
                     </div>
                </div>
            </section>

            <section class='crew-member-info'>
                <div class="crew-member-text">
                    <h1>TIP Piotr Gałązka</h1>
                </div>
                <div class='crew-member-info__holder'>
                     <div class="info-contact">
                        <div class="info-contact__img">
                            <img src="/images/icon-120.png" class="icon" alt="adres">
                        </div>
                        <div class="info-contact__text">
                            <p>ul. Sadowa 1</p>
                            <p>05-090 Sękocin Nowy</p>
                            <p>NIP: 522-174-62-78</p>
                        </div>
                     </div>
                      <div class="info-contact">
                        <div class="info-contact__img">
                            <img src="/images/icon-121.png" class="icon" alt="adres">
                        </div>
                        <div class="info-contact__text">
                            <p>Telefon: +48 602 185 391</p>
                            <p>E-mail: biuro@internett.pl</p>
                        </div>
                     </div>
                </div>
            </section>

            <section class='work-hours'>
                <div class='work-hour__text'>
                    <h2>Godziny pracy:</h2>
                    <p>poniedziałek - piątek: <b>8 - 16</b></p>
                    <p>sobota: <b>10 - 14</b></p>
                    <p>niedziela: <b>nie pracujemy</b></p>
                </div>
            </section>

        {{>footer}}
    </div>

    <script src="/js/navbarHandle.js"></script>
</body>
</html>