<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praca</title>
    <link rel="stylesheet" href="/css/praca.css">
    {{>links}}
    
</head>
<body>
    <div class="container">
        {{>navigation}}
            <section class="header">
                <div class="header__background">
                    <div class="header__background__text">
                        <h1>Praca</h1>
                        <p>Jeżeli interesuje Cię praca w nasz zespole i chciałbyś do nas dołączyć, zapraszamy do kontaktu. Poniżej znajduje się aktualna oferta pracy, jeżeli jesteś zainteresowany prosimy o przesłanie CV oraz lilstu motywacyjnego na nasz 
                            adres <span class="blue">internet@sekocin.net</span>.</p>
                    </div>
                </div>
                <div class="header__text">
                        <p><b>Na CV prosimy o umieszczenie następującej klauzuli:</b><br> Wyrażam zgodę na przetwarzanie moich danych osobowych zawartych w mojej ofercie pracy dla potrzeb niezbędnych do realizacji procesu rekrutacji zgodnie z Ustawą z dn. 29.08.97 roku o ochronie danych osobowych (Dz.U. z 2002 r. nr 101, poz.926).</p>
                </div>
            </section>

            <section class="requirements">
                <div class="requirements__header">
                    <h2>Instalator sieci telekomunikacyjnych</h2>
                </div>
                <div class="requirements__text">
                    <h3>Wymagania:</h3>
                    <p><span><i class="fas fa-check-circle"></i></span>Znajomość podstawowych zagadnień związanych z instalowaniem okablowania strukturalnego</p>
                    <p><span><i class="fas fa-check-circle"></i></span>Znajomośc podsatawowych zagadnień z sieci światłowodowych</p>
                    <p><span><i class="fas fa-check-circle"></i></span>Brak ograniczeń do pracy na wysokości</p>
                    <p><span><i class="fas fa-check-circle"></i></span>Prawo jazdy kategorii B</p>
                    <p><span><i class="fas fa-check-circle"></i></span>Wysoka kultura osobista (praca u Klienta indywidualnego w domu)</p>
                    <h3>Mile widziane:</h3>
                    <p><span><i class="fas fa-check-circle"></i></span>Uprawnienia SEP</p>
                    <p><span><i class="fas fa-check-circle"></i></span>Ukończone szkolenie uprawniające do pracy na wysokości</p>
                </div>
            </section>
            <section class="requirements__offer">
                <div class="requirements__offer__text">
                    <h2>W zamian oferujemy</h2>
                    <p>Pracę w młodym i dynamicznie rozwijającym się zespole, możliwość rozwoju kompetencji zawodowych, zarobki adekwatne do posiadanych umiejętności, oraz elastyczne godziny pracy</p>
                </div>
            </section>
            

        {{>footer}}
    </div>
    <script src="/js/navbarHandle.js"></script>
</body>
</html>