<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telefon</title>
    <link rel="stylesheet" href="/css/telefon.css">
    {{>links}}
</head>
<body>
    <div class="container">
        {{>navigation}}
        <section class='header'>
            <div class="header__title">
                <h1>Telefon</h1>
            </div>
            <div class="header__text">
                <img class="img" src="/images/telefon-voip.png" alt="Telefon VoIP">
                <p><b>VoIP (ang. Voice over Internet Protocol)</b> - technologia cyfrowa umożliwiająca przesyłanie dźwięków mowy za pomocą łączy internetowych lub dedykowanych sieci wykorzystujących protokół IP, popularnie nazywana "telefonią internetową". Dane przesyłane są przy użyciu protokołu IP. Wdrożenie tego rozwiązania znacznie obniży koszt połączeń telefonicznych w stosunku do innych operatorów. W czasie rozmów nie będziesz widział różnicy pomiędzy rozmowami prowadzonymi za pośrednictwem naszej platformy a tradycyjnymi dostawcami.</p>
            </div>
        </section>
        <section class="content">
            <div class="content__text">
                <h2>Polecani operatorzy</h2>
                <p><i class="far fa-arrow-alt-circle-right"></i>IPFON</p>
                <p><i class="far fa-arrow-alt-circle-right"></i>EASYCALL</p>
            </div>
        </section>
        {{>footer}}
    </div>
    <script src="/js/navbarHandle.js"></script>
</body>
</html>