body {
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
}

/* MAIN SECTION */

.offer {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    background: url('/images/background.jpg');
    background-attachment: fixed;
    background-position: cover;
    padding-bottom: 120px;
}

.offer__image {
   max-width: 398px;
}

.offer__image img {
   width: 100%;
   height: 100%;
}



.offer__wraper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




.offer__content {
    display: flex;justify-content: center;align-items: center;flex-direction: column;
    
}

.content__pin {
    width: 120px;
    position: relative;
    height: 120px;
    margin-bottom: 40px;
}

.content__pin::before {
    content: '';
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 50%;
}

.content__wraper {
    position: absolute;
    z-index: 900;
    color: white;
    left: 20%;
    top: 9%;
}

.content__text {
    display: flex;justify-content: center;align-items: center;flex-direction: column;
}

.content__text h1 {
    font-size: 32px;
}

.content__pin::after {
    content: '';
    position: absolute;
    bottom:-13px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    width: 50%;
    height: 50%;
    background-color: red;
}

.content__main {
    display: flex;justify-content: center;align-items: center;flex-direction: column;
    text-align: center;
}

.content__main h1 {
    font-size: 45px;
    font-weight: 900;
    color: white;
}

.content__main h3 {
    color: white;
    font-size: 22px;
}

.content__buttons {
    margin-top: 30px;
}

.button-advantages,.button-range {
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;  
    margin: 5px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    font-size: 26px;
    z-index: 999;
    background-color: rgb(226, 212, 17);
    transition: .3s ease all;
    display: inline-block;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-advantages:hover,.button-range:hover {
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.75);
   
}


/* DESCRIPTION SECTION  */

.description {
    width: 100%;
    height: fit-content
}



.description__wraper {
    padding: 20px 0 20px;
    width: 100%;
    height: 100%;
    display: flex;justify-content: center; align-items: center; flex-direction: column; 
}

.description__offer-box {
    width: 1200px;
    /* width: 75%; */
    /* height: fit-content; */
    display: flex; justify-content: center; align-items: flex-start;
    flex-wrap: wrap;
    background: rgb(231, 231, 231);
    margin-top: -50px;
    padding: 10px 0 20px;
    border-radius: 14px;
    -webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    margin-bottom: 2.5rem;
}

.offer-box__item {
    max-width: 400px;
    padding: 20px;
    display: flex;justify-content: center; align-items: center;flex-direction: column;
}

.offer-box__item h6 {
    font-size: 1.1rem;
    padding: 10px;
    margin-top: 15px;
}

.offer-box__item p {
    text-align: center;
}

.description__advantages {
    width: 100%;
    height: fit-content;
    display: flex; justify-content: center; align-items: center; flex-direction: column; 
}

.description__header {
    padding: 20px;
    margin-bottom: 20px;
}

.description__header p{
    font-size: 1.5rem;
}

.description__advantages p {
    text-align: center;
}

.advantages__box {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
}

.advantages__box__item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 400px;
    padding: 20px;
}

.advantages__box h6 {
    font-size: 1.1rem;
    padding-bottom: 10px;
}

.advantages__box h6::after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    margin-top: 5px;
    background-color: rgb(201, 201, 201);
}

.description__advantages h5 {
    font-size: 2rem;
    padding-bottom: 10px;
    text-align: center;
}

.item__desc {
    padding-left: .8rem;
}

.item__desc p {
    text-align: left;
}

/* AD SECTION */

.ad {
    display: flex; align-items: center; justify-content: center; flex-direction: column;
    width: 100%;
    height: fit-content;
    background: url('/images/cta.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.75);
}

.ad__contentt {
    display: flex; align-items: center; justify-content: center;
    padding: 20px;
}

.ad__button {
    margin-left: 4rem;
}

.ad__button-more {
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    border: 2px solid white;
    padding: 15px 20px;
    border-radius: 40px;
    transition: 0.3s ease all;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ad__button-more:hover {
    background-color: rgb(31, 164, 226);
}


/* color: rgb(31, 164, 226); */

.ad__title {
    display: flex; align-items: center; justify-content: center; flex-direction: column;
}

.ad__title h1 {
    font-size: 2.8rem;
    color: rgb(221, 221, 221);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.ad__text {
    font-size: 2.5rem;
    color: white;
    padding-bottom: 20px;
}

.ad__text h2 {
    color: rgb(133, 132, 132);
}

.span-color-blue {
    color: rgb(31, 164, 226);
}

.cards {
    padding: 30px 0 30px;
    width: 100%;
}

.cards__title h2 {
    font-size: 3rem;
    text-align: center;
}

.cards__holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 740px;
}
.price {
    margin-top: 4px;
    padding: 5px;
    font-size: 2rem;
}

.bigger__font {
    font-size: 3rem;
}

.fa-wifi {
    font-size: 3.5rem;
}

.price1 {
    color: rgb(187, 184, 184);
}

.price2 {
    color: rgb(31, 124, 245);
}

.price3 {
    color:rgb(212,175,55)
}

.item {
    flex-basis: 360px;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);  
}

.item__title h2 {
    font-size: 2rem;
    padding-left: 30px;
}


.item__title {
    display: flex; justify-content: center; align-items: center;
    padding: 20px;
    width: 100%;
    color: white;
}
.item__title1 {
    background-color: rgb(187, 184, 184);
}
.item__title2 {
    background-color: rgb(31, 124, 245);
}
.item__title3 {
    background-color: rgb(212,175,55)
}

.item__content {
    padding: 20px;
}

.item__content p {
    font-size: 1.2rem;
    text-align: center;
    padding: 3px;
}

.item__content p:last-child {
    margin-top: 50px;
    margin-bottom: 20px;
}

.price__line  {
    background-color: rgb(206, 206, 206);
    width: 150px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.price__button {
    text-decoration: none;
    text-align: center;
    background-color: rgb(83, 83, 83);
    color:white ;
    border-radius: 8px;
    padding: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.item__gray {
    color :rgb(187, 184, 184);
}

.item__blue {
    color: rgb(31, 124, 245);
}

.item__gold {
    color: rgb(212,175,55);
}

.price__button.item__gold,.price__button.item__blue,.price__button.item__gray {
    transition: 0.3s ease all;
}

.price__button.item__gray:hover {
    background-color: rgb(187, 184, 184);
    color: white;
}

.price__button.item__gold:hover {
    background-color:rgb(212,175,55); 
    color: white;
}

.price__button.item__blue:hover {
    background-color: rgb(31, 124, 245);
    color: white;
}

/* TRY FREE SECTION */

.try-free {
    display: flex; align-items: center; justify-content: center; flex-direction: column;
    width: 100%;
    padding: 20px;
}

.try-free__title {
    padding-bottom: 50px;
    text-align: center;
    max-width: 800px;
}

.try-free__title h2 {
    font-size: 2rem;
    padding-bottom: 10px;
}

.try-free__title p {
    font-size: 1.5rem;
}

/* PROMOTION SECTION */

.promotion {
    display: flex; align-items: center; justify-content: center; flex-direction: column;
    width: 100%;
    padding: 20px 20px 50px 20px;
    background: url('/images/testimonial.jpg');
    color: white;
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.promotion__title {
    display: flex; align-items: center; justify-content: center; flex-direction: column;
    padding: 30px 0;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 850px;
}

.promotion__title hr {
    width: 100%;
    margin: 20px 0 20px;
}

.promotion__title h1 {
    font-size: 3rem;
}

.promotion__title h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.promotion__title p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
}

/* RANGE MAP SECTION */

.range-map {
    width: 100%;
    padding: 20px;
}

.range-map__map {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height: 0;
    width: 100%;
}

.range-map__map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.range-map__title {
    display: flex; align-items: center; justify-content: center; flex-direction: column;
    max-width: 1000px;
    padding-top: 30px;
    border-radius: 8px;
    margin: -50px auto 20px auto;
    -webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
    overflow: hidden;
    background-color: white;
}

.range-map__title h2 {
    padding: 30px 0 60px;
    font-size: 2.5rem;
}

.range-map__map {
    display: flex; align-items: center; justify-content: center; flex-direction: column;
}

.map {
    width: 100%;
}

.range-map__text {
    display: flex; align-items: center; justify-content: center; flex-direction: column;
    padding: 20px 0;
}

.range-map__text p {
    font-size: 1.1rem;
    padding: 5px;
}

.range-map__text h3 {
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 4px;
    transition: 0.3s ease all;
    color: rgb(31, 124, 245);
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.range-map__text a {
    text-decoration: none;
    color: rgb(31, 124, 245);
}


.range-map__text h3:hover {
    background-color: rgb(31, 124, 245);
}

.range-map__text h3:hover a {
    color: white;
}






    .card {
        background: white;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        cursor: pointer;
        height: 400px;
        margin: 20px;
        /* padding: 0 20px; */
        position: relative;
        -webkit-tap-highlight-color: rgba(0,0,0,0.025);
        text-align: center;
        transition: height 1000ms;
        width: 550px;
        overflow: hidden;
      }
      /* @media (max-width: 767px) {
        .card {
          left: calc(50% - 20px);
          transform: translateX(-50%);
        }
      } */
      .card.expanded {
        height: 680px;
      }
      .label {
        margin-top: 30px;
        transform: translateY(10px);
        transition: transform 1000ms;
      }
      .card.expanded .label {
        transform: translateY(0);
      }
      
      .text-content {
        transform: translateY(-160px);
        transition: all 1000ms ease;
        opacity: 0;
        pointer-events: none;
      }
      .card.expanded .text-content {
        transform: translateY(-15px);
        opacity: 1;
        pointer-events: all;
      }
      .chevron {
        position: absolute;
        bottom: 20px;
        left: calc(50% - 15px);
        transform-origin: 50%;
        transform: rotate(180deg);
        transition: transform 1000ms;
        padding: 10px 3px;
        width: 45px;
        /* background-color: red; */
      }
      .card.expanded .chevron {
        transform: rotate(0deg);
      }
      .title {
        font-size: 1.4rem;
        margin: 20px 0 12px;
      }
      .body-text {
        padding: 0 20px;
      }
      
      .body-text-list {
        list-style: none;
      }
      
      .body-text-list li{
        padding: 5px 0;
        font-size: 1.4rem; 
      }
      
      .box-title {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          text-align: center;
          height: 300px;
          color: white;
          padding: 0 20px;
          overflow: hidden;
          transition: all 0.6s ease;
      }
      
      .box-title h1 { 
          text-align: center;
          font-size: 2.5rem;
      }
      
      .text-content__button {
        margin: 30px 0;
      }
      
      .text-content__btn {
        border-radius: 8px;
        border: none;
        color: white;
        font-size: 1.5rem;
        padding: 20px 40px;
        cursor: pointer;
        outline: none;
        user-select: none;
        text-decoration: none;
        transition: 0.4s ease; 
      }
      
      .green {
        background-color: #33a358;  
      }
      
      .yellow {
        background-color: rgb(212,175,55);
      }
      
      .blue {
        background-color: rgb(31, 124, 245);
      }
      
      .text-content__button .green:hover {
        background-color: rgb(88, 187, 101);
      }
      
      .text-content__button .yellow:hover {
        background-color:rgb(230, 195, 81);
      }
      
      .text-content__button .blue:hover {
        background-color: rgb(75, 151, 252);
      }
      
      .border-change {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
      }


      @media(max-width:1120px) {
          .cards__holder {
              flex-direction: column;
              height: 100%;
          }

          /* .card.expanded  {
            height: 800px;
          } */

          .body-text-list li{
            font-size: 1rem; 
          }
      }

      @media (max-width: 1240px) {
        .description__offer-box {
            /* width: fit-content; */
            /* min-width: 820px; */
            width: 820px;
        }
    }
    
    @media (max-width: 1024px) {
        .promotion {
            background-position: -120px 50px;
        }  
    }
    
    
    @media (max-width: 920px) {
        .offer__wraper {
            flex-direction: column;
        }
        
        
        .offer__image,.offer__content {
            margin-top: 40px;
        }
    
        .ad__contentt {
            flex-direction: column;
            padding-bottom: 40px;
        }
        .ad__button {
            margin-left: 0;
            margin-top: 1rem;
        }
    
        .ad__text h2,.ad__text h5 {
            text-align: center;
        }
    
    }
    
    @media (max-width: 850px) {
            .description__offer-box {
                max-width: 500px;
                width: 90%;
            }
            .ad__title h1 {
                font-size: 2rem;
            }
            .offer__image{
                max-width: 350px;
            }
        }  
    
    
    
    /* query dla jebanego iphona5 */
        @media (max-width: 415px) {
            .offer {
                padding-top: 0;
            }
            .offer__image{
                max-width: 300px;
            }
            .promotion {
                background-position: -400px 80px;
            }  
            .description__offer-box {
                border-radius: 0;
            }
            .button-advantages, .button-range {
                font-size: 0.8rem;
                padding: 15px;
            }
            .description__offer-box {
                width: 100%;
            }
            .description__header p {
                font-size: 1rem;
            }
    
            .offer-box__item h6 {
                font-size: .95rem;
            }
            .offer-box__item p {
                font-size: .8rem;
            }
    
            .advantages__box {
                align-items: flex-start;
            }
    
            .item__desc h6 {
                font-size: 1.2rem;
            }
    
            .item__desc p {
                font-size: .8rem;
            }
    
            .ad__text {
                font-size: 1.5rem;
            }
            .ad__title h1 {
                font-size: 1.5rem;
            }
            .price {
                font-size: 1rem;
            }
            .item__title h2 {
                font-size: 1.6rem;
            }
            .item__content p {
                font-size: 1rem;
            }
            .bigger__font {
                font-size: 2rem;
            }
            .fa-wifi {
                font-size: 2.5rem;
            }
            .try-free__title h2 {
                font-size: 1.5rem;
            }
            .try-free__title p {
                font-size: 1rem;
            }
            .promotion__title h1 {
                font-size: 2rem;
            }
            .promotion__title h2 {
                font-size: 1.5rem;
            }
            .promotion__title p {
                font-size: 1rem;
    
            }
            .range-map__text h3 {
                font-size: 1rem;
                text-align: center;
            }
            .range-map__text p {
                font-size: 0.8rem;
                text-align: center;
            }
            .range-map__title h2 {
                font-size: 2rem;
            }
            .range-map__map{
                height: 450px;
            }
            .ad__button-more {
                font-size: 1rem;
            }
            .card {
                height: 200px;
                width: 90vw;
            }
            .box-title {
                height: 130px;
            }
            .box-title h1 { 
                font-size: 1.5rem;
            }
            .card.expanded {
                height: 470px;
              }
            .title {
                margin: 30px 0 10px;
            }
            .body-text-list .list-title {
                margin-top: 10px;
                font-size: 1.2rem;
            }
            .text-content__btn {
                font-size: 1.2rem;
                padding: 15px 20px;
            }
        }

